.row div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row h2 {
    font-size: 33px;
    color: #000000;
}

.row p {
    font-size: 20px; 
    color: #000000; 
    padding: 5rem 0; 
    padding-top: 1rem; 
    line-height: 34px; 
    padding: 1rem 0; 
    line-height: 1.5;
}

.heading{
    text-align: center;
    font-size: 64px;
    color: #000000;
    padding: 1rem;
    margin: 2rem 0;
}

.heading span{
    color: #000000;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 30px;
    background: #FFB600;
    color: #000000;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 38px;
}

.btn:hover{
    background: #FFB600;
}

section{
    padding: 2rem 9%;
}

.døre{
    display: flex;
    align-items: center;
    height: 100vh;
    background: url(../assets/image\ 45\ \(1\).png) no-repeat;
    background-size: cover;
    background-position: center; 
}

.døre .content{
    max-width: 50rem;
}

.døre .content h1{
    font-size: 64px;
    color: #ffffff;
    position: absolute;
    line-height: 77px;
}

.døre .content span{
    font-size: 3rem;
    color: #9A9A9A;
    padding: 1rem 0;
    line-height: 77px;
    margin-top: 350px;
}

.vinduer .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.vinduer .row .foto-container{
    flex: 1 1 40rem;
    position: relative;
}

.vinduer .row  img{
    width: 100%;
    border: 1.5rem solid #1B273D;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem #9A9A9A;
    height: 100%;
    object-fit: cover;
}

.vinduer .row .foto-container h1{
    position: absolute;
    top: 50%;
    transform: rotateY('-50%');
    font-size: 64px;
    background: #9A9A9A;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.vinduer .row .content{
    flex: 1 1 40rem;
}

.vinduer .row .content h3{
    font-size: 54px;
    color: #000000;
}

.vinduer .row .content p{
    font-size: 35px;
    color: #000000;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 34px;
    padding: 1rem 0;
    line-height: 1.5;
}

.galleri .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.galleri .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1rem #ffffff;
    border-radius: 5rem;
    border: 1rem solid #1B273D;
    position: relative;
}

.galleri .box-container .box .image{
    position: relative;
    text-align: center;
    overflow: hidden;
    gap: 4rem;
}

.galleri .box-container .box:hover .image img{
    transform: scale(1.1);
}
.galleri .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .row p {
        font-size: 35px;
    }

    .galleri .box-container .box .image img{
        height: 25rem;
        width: 30rem;
        gap: 4rem;
    }
    
}

@media (min-width: 1024px) {
    .row div {
        display: block;
    }
}