:root {
    --light-background-color: #D9D9D9;
    --dark-background-color: #1B273D;
    --primary-color: #FFB600;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'IBM Plex Serif', serif;
    text-decoration: none;
}


body {
    background-color: var(--light-background-color);
}

h1 {
    font-size: 42px;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.mobile {
    background-color: var(--dark-background-color);
    display: flex;
    align-items: center;
    height: 75px;

}

.navicons {
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.navicons a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
}

.menu-bar {
    height: 4.5px;
    width: 32px;
    background-color: var(--primary-color);
    margin-bottom: 5.5px;
    display: block;
    
}

.menu {
    position: relative;
    padding: 24px 27px;
} 

.list-style {
    padding: 15vh 20px;
    font-size: 24px;
    height: 100vh;
    position: relative;
    background-color: var(--light-text-color);
}

.list-style li {
    list-style: none;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 600;
}

.list-style a {
    text-decoration: none;
    color: var(--dark-text-color);
}

.arrow {
    position: absolute;
    top: 5vh;
}

.arrow img {
    margin-right: 20px;
}

.book-btn {
    background-color: var(--primary-color);
    padding: 10px 22px;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}
.book-btn a {
    color: var(--dark-text-color);
   
}

/* Toggle with JS */
.hidden {
    display: none;
}
/* ---- */

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        height: 100px;
        background-color: var(--dark-background-color);
        justify-content: space-between;
    }

    .desktop img {
        margin: 4px 24px;
        height: 92px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        height: 100px;
        margin-right: 24px;
    }

    .navbar li, .navbar a {
        list-style: none;
        color: var(--light-text-color);
        font-size: 20px;
        font-weight: 600;
    }

    .book-btn {
        margin-top: 0;
    }

    .book-btn a {
       color: var(--dark-text-color);
    }

    .dropdown-menu {
        display: inline;
        position: relative;
    }

    .dropdown-content-menu {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: var(--dark-background-color);
        padding: 30px 30px 15px 30px;
        width: 220px;
        translate: -20px;
    }

    .dropdown-content-menu li {
        margin-bottom: 10px;
    }


    .dropdown-menu:hover .dropdown-content-menu {
        display: block;
        z-index: 2;
    }

 
}

@media (min-width: 767px) and (max-width: 787px) {
    .book-btn {
      padding: 10px 12px;
    }
  }

@media (min-width: 1024px) {
    .desktop {
        justify-content: center;
    }

    .desktop img {
        position: absolute;
        left: 0;
    }

    .navbar {
        gap: 64px;
    }

    .navbar a {
        display: inline-block;
        position: relative;
        color: var(--light-text-color);
    }

  
      .navbar a::after {
        content: '';
        position: absolute;
        width: 0;
        transform: translateX(-50%);
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: var(--light-text-color);
        transform-origin: center;
        transition: width 0.15s ease-out;
      }
      
      .navbar a:hover::after {
        width: 100%;
        transform: translateX(-50%);
      }


    .book-btn {
        position: absolute;
        right: 20px;
       
    }
    .book-btn a {
        color: var(--dark-text-color);
    }

  }

.body-filler {
    height: 100px;
}

/* contact for all pages */

#kontakt {
    display: flex;
    background-color: var(--dark-background-color);
    flex-direction: column;
    margin: 20px 0;
    padding-bottom: 20px;
}

#kontakt h2 {
    color: var(--light-text-color);
    text-align: center;
    margin: 40px 0 20px 0;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    width: 340px;
    height: 32px; 
    border-radius: 10px;
    border: none;
    margin-bottom: 13px;
    padding: 10px;
    font-size: 16px;
    font-family: 'IBM Plex Serif', serif;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    font-weight: 600;
    width: 230px;
    height: 40px;
    font-size: 20px;
    padding: 0;
}

.flex {
   display: flex;
   flex-direction: row; 
   gap: 10px;
   align-items: center;
   justify-content: center;
  
}

.radical {
    background: radial-gradient(50% 50% at 50% 50%, #3d4d6d 0%, #1B273D 100%);

}

.facebook-social {
    margin-bottom: 20px;
}

.social-icons{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: var(--light-text-color);
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.social-icons p{
    display: none;
    font-weight: 600;
}

.icons {
    height: 40px;
}

.phone-img {
    height: 50vh;
}

@media (min-width: 768px) {
    #kontakt {
        background-color: var(--dark-background-color);
        flex-direction: row-reverse;
        margin: 20px 0 ;   
        justify-content: center; 
        align-items: center;
        gap: 20px;
        padding-bottom: 60px;
    }

    .radical {
        background: none;
        background-color: var(--light-background-color);
        border-radius: 10px;
        padding: 0 30px;
    }


    .phone-img {
        height: 380px;
    }
}

@media (min-width: 1024px) {
    .social-icons p {
        display: block;
    }

    .radical {
        height: 388px;
    }
    
    form {
        margin-top: 0;
    }
}

@media (min-width: 1440px) {
    #kontakt {
        width: 1300px;
        margin: auto;
        border-radius: 20px;
        margin-top: 20px;
    }
    
    input, textarea {
        font-size: 20px;
        width: 520px;
        height: 40px;
    }
    textarea {
        height: 140px;
    }

    .form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        width: 520px;
    }


    
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
    background-color: var(--dark-background-color);
}

footer h4{
    text-transform: uppercase;
    color: var(--light-text-color);
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
}

footer img {
    height: 60px;
    margin: 15px 15px 35px 15px;
}

.contact {
    color: var(--light-text-color);
    margin-top: 10px;
}

.contact li {
    list-style: none;
    font-family: 'IBM Plex Serif', serif;
}

.contact a, .contact b {
    color: var(--light-text-color);
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;

}

.footer-logo {
    height: 90px;
    margin: 25px ;
}

.copy {
    color: var(--light-text-color);
    text-align: center;
}

@media (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100vw;
    }

    .copy {
        margin-top: 2;
    }

    .footer-logo {
        display: none;
    }

    br {
        display: none;
    }
}

/* Footer end */

/* Media queries for under 375px*/

@media (max-width: 374px) {
    .mobile {
        gap: 10px;
    }
    
    .navicons {
       margin: 0;
    }
    
    .navicons a{
        font-size: 16px;
    }

    input, textarea {
        width: 320px;
    }

    .social-icons {
        padding: 10px;
    }
    .flex {
        gap: 0;
    }

    h1 {
        font-size: 33px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
}