:root {
    --background-color: #D9D9D9;
    --nav-background-color: #1B273D;
    --primary-color: #FFB600;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
}

.mobile {
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
}

.navicons {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.navicons a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
}

.menu-bar {
    height: 6px;
    width: 40px;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    display: block;
    
}

.menu {
    width: 100px;
    height: 86px;
    position: relative;
    padding: 27px;

} 

.list-style {
    padding: 15vh 20px;
    font-size: 24px;
    height: 100vh;
    position: relative;
    background-color: var(--light-text-color);
}

.list-style li {
    list-style: none;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 600;
}

.list-style a {
    text-decoration: none;
    color: var(--dark-text-color);
}

.arrow {
    position: absolute;
    top: 5vh;
}

.arrow img {
    margin-right: 20px;
}

.book-btn {
    background-color: var(--primary-color);
    padding: 10px 22px;
    text-align: center;
    border-radius: 10px;
}
.book-btn a {
    color: var(--dark-text-color);
   
}

/* Toggle with JS */
.hidden {
    display: none;
}
/* ---- */

.desktop {
    display: none;
}
